/* Import fonts. */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: rgba(211, 211, 211, 0.363);
	background-size: cover;
	color: #5d4954;
	font-family: 'EB Garmond', Helvetica, sans-serif;
}

.main-pg {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.display-1 {
	font-size: 90px;
	font-weight: 400;
}

.btn {
	background-color: rgba(211, 211, 211, 0.486);
	border: 0;
	margin-left: 10px;
}

.main-img {
	border-radius: 21px;
}

.ital {
	font-style: italic;
}

.block {
	background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	border-radius: 21px;
	padding: 2em 1em;
	margin: 4em auto;
}

/* The NavBar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    min-height: 5vh;
    background-color: #5d4954;
	font-family: 'EB Garmond';
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
	font-size: 20px;
	font-family: 'Courgette', cursive;
	flex: 1;
	margin-left: 20px;
}

.nav-links {
	display: flex;
	flex: 2;
	width: 40%;
	margin-bottom: 0;
    justify-content: space-around;
}

li {
	list-style: none;
	margin: auto 0px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 20px;
}

#burger {
    display: none;
	cursor: pointer;
	margin: auto 0px;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
