/* Import fonts. */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* Importing 2 fonts of the same family does not work on some devices. So, we split the import statement here. */
@font-face {
	/* EB Garmond Semi Bold 600 Italic font for heading. */
	font-family: 'Heading';
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ebgaramond/v14/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7diR79wU6ingQ.woff2') format('woff2');
}

@font-face {
	/* EB Garmond Medium 500 font for Body. */
	font-family: 'Body';
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ebgaramond/v14/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-2fRkCY9_S6w.woff2') format('woff2');
}

/* primary-color: #7B421D; */

body{
	overflow-x: hidden;
}

/* The NavBar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
	min-height: 55px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
	font-family: 'EB Garmond';
	z-index: 1000;
}

nav.sticky{
	background-color: #7B421D;
}

nav.sticky .logo{
	margin-top: auto;
}
nav.sticky .logo a{
	color: rgb(226, 226, 226);
}
nav.sticky ul li a{
	color: rgb(226, 226, 226);
}

.logo {
    text-transform: uppercase;
	letter-spacing: 5px;
	margin: auto 20px 10px;
	font-size: 20px;
	font-family: 'Courgette', cursive;
	flex: 1;
	position: relative;
	transition: 0.5s;
}

.logo a{
	text-decoration: none;
	color: #663406;
}

.nav-links {
	display: flex;
	flex: 2;
	width: 50%;
	margin-bottom: 0;
	position: relative;
	transition: 0.5s;
	justify-content: space-around;
}

li {
	list-style: none;
	margin: auto 0px;
}

.nav-links li a {
	text-decoration: none;
	color: #663406;
	font-size: 20px;
}

.nav-links li a i{
	margin-left: 10px;
}

#burger {
    display: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(-5%,-50%);
}

#burger div {
    width: 25px;
	height: 3px;
	background-color: #663406;
    margin: 5px;
    transition: all 0.3s ease;
}


/* Page Rules. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: rgba(211, 211, 211, 0.363);
	background-size: cover;
	color: #5d4954;
	font-family: 'Body', Helvetica, sans-serif;
}

.main-pg {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.display-1 {
	font-size: 90px;
	font-weight: 400;
}

.btn {
	background-color: rgba(211, 211, 211, 0.486);
	border: 0;
	margin-left: 10px;
}

.main-img {
	border-radius: 21px;
}

.ital {
	font-family: 'Heading';
	font-style: italic;
}

.block {
	background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	border-radius: 21px;
	padding: 2em 1em;
	margin: 4em auto;
}